<!DOCTYPE html>
<html>
    <head>
        <title>Tetris Home</title>
        <link rel="stylesheet" href="../CSS/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a href="#">
              <img src="../Resource/icon.png" alt="Tetris" width="50" height="50" class="ms-5">
            </a>
            <a class="navbar-brand ms-2" href="#">My Tetris</a>

            <div class="collapse navbar-collapse" id="navbarsExample02">
              <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Tetris Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Game</a>
                </li>
                <li c
                lass="nav-item">
                  <a href="#" class="nav-link">Leaderboard</a>
                </li>
              </ul>
              <form class="form-text my-2 my-md-0 me-5">
                <input class="form-control" type="text" placeholder="Not Search">
              </form>
            </div>
        </nav>

          
    </body>
</html>
<script src="../JavaScript/js/bootstrap.bundle.min.js"></script>